
body {
    background-color:aqua;
}
P {
    text-align: center;
}
table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 5px solid;
    padding: 4px;
}
div.quote {
    text-align: center;
}
div.link {
    text-align: center;
}
h1 {
    text-align: center;
}